#events.action_name_show{

  min-height: 500px;

  h1{
    margin-bottom: 25px;
  }

  div.center-show-content{
    display: inline-block;
    width: 400px;
    font-size: 15px;
    font-family: $font-family;
  }

  dt{
    width: 200px;
  }
  dd{
    margin-left: 220px;
  }
}

#events.action_name_calendar{

  p.desription_calendar{
    color: #4c4a37; font-family: $font-family;  margin: 0 0 24px;
  }
  span.green{
    color: $color_green;
  }
  span.gray{
    color: $color_gray;
  }

}