#events.action_name_show{
  min-height: 500px;

  h1{
    margin-bottom: 25px;
  }

  div.center-show-content{
    display: inline-block;
    width: 400px;
    font-size: 15px;
    font-family: "Arial sans-serif";
  }

  dt{
    width: 200px;
  }
  dd{
    margin-left: 220px;
  }
}

#events.action_name_calendar{

  p.desription_calendar{
    color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 24px;
  }
  span.green{
    color: #50AE28;
  }
  span.gray{
    color: #8e8e8e;
  }

}